.boxChat {
  position: absolute;
  width: auto;
  height: auto;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.158);
  top: 7%;
  bottom: 7%;
  left: 7%;
  right: 7%;
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
}

.block-left {
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 15px 0px 0px 15px;
  display: inline-block;
  width: 40%;
  height: 100%;
}

.block-right {
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 0px 15px 15px 0px;
  display: inline-block;
  left: 40%;
  width: 60%;
  height: 100%;
}

.header {
  background-color: rgb(2, 2, 71);
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 15px 0px 0px 0px;
  width: 100%;
  height: auto;
  color: white;
  font-size: 50px;
  padding: 8px 0px 8px 25px;
}

.login {
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.158);
  padding: 100px 60px 100px 60px;
}

.profile {
  overflow: auto;
  width: 70px;
  margin: 20px 0px 0px 20px;
}

.col {
  text-align: center;
}

.createBTN {
  border: 1px dashed rgba(128, 128, 128, 0.719);
  background-color: rgba(179, 179, 179, 0.164);
  color: gray;
}

.groupList {
  width: 100%;
  max-width: 500px;
  height: 350px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.headGroup {
  font-size: 23px;
  padding: 5px 20px;
  background: rgba(179, 179, 179, 0.164);
  border: 1px solid rgba(179, 179, 179, 0.164);
}

.grChar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.493);
  padding: 10px;
}
