.boxChat {
  position: absolute;
  width: auto;
  height: auto;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.158);
  top: 7%;
  bottom: 7%;
  left: 7%;
  right: 7%;
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
}

.block-left {
  position: absolute;
  /* border: 1px solid rgba(128, 128, 128, 0.151); */
  border-radius: 15px 0px 0px 15px;
  display: inline-block;
  width: 40%;
  height: 100%;
}

.block-right {
  position: absolute;
  /* border: 1px solid rgba(128, 128, 128, 0.151);  */
  border-radius: 0px 10px 10px 0px;
  display: inline-block;
  left: 40%;
  width: 60%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  background-color: rgb(2, 2, 71);
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 15px 0px 0px 0px;
  width: 100%;
  height: auto;
  color: white;
  font-size: 50px;
  padding: 8px 0px 8px 25px;
}

.login {
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.158);
  padding: 100px 60px 100px 60px;
}

.profile {
  overflow: auto;
  width: 70px;
  margin: 20px 0px 0px 20px;
}

.col {
  text-align: center;
}

.createBTN {
  border: 1px dashed rgba(128, 128, 128, 0.719);
  background-color: rgba(179, 179, 179, 0.164);
  color: gray;
}

.groupSide .groupList {
  width: 100%;
  /* height: 400px; */
  height: 65%;
  overflow-y: scroll;
}

.groupSide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.headGroup {
  font-size: 23px;
  padding: 5px 20px;
  background: rgba(179, 179, 179, 0.164);
  border: 1px solid rgba(179, 179, 179, 0.164);
}

.grChar {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(179, 179, 179, 0.493);
  padding: 20px;
}

.chatroom {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  /* border-radius: 5px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.chatroom h3 {
  font-family: "Pacifico", cursive;
  background-color: rgba(27, 27, 27, 0.726);
  color: #fff;
  margin: 0;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(241, 236, 236, 0.952);
  position: relative;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 200px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: rgb(25, 91, 136);
}

.chatroom .input {
  height: 11%;
  width: 100%;
  background: rgba(161, 161, 161, 0.274);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 1px solid rgb(97, 97, 97);
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 270px;
  box-sizing: border-box;
  font-size: 14px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #072941; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1.5s linear infinite;
  top: 35%;
  left: 40%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Loading {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 20;
}
