.boxChat {
  position: absolute;
  width: auto;
  height: auto;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.158);
  top: 7%;
  bottom: 7%;
  left: 7%;
  right: 7%;
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
}

.block-left {
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 15px 0px 0px 15px;
  display: inline-block;
  width: 40%;
  height: 100%;
}

.block-right {
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 0px 15px 15px 0px;
  display: inline-block;
  left: 40%;
  width: 60%;
  height: 100%;
}

.header {
  background-color: rgb(2, 2, 71);
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: 15px 0px 0px 0px;
  width: 100%;
  height: auto;
  color: white;
  font-size: 50px;
  padding: 8px 0px 8px 25px;
}
